extends layout

block content
 .container
  h1.mt-5 Venez réparer votre voiture
  br
  p.lead
       | Votre garage auto à Paris 19 prend en charge toutes vos réparations automobiles, toutes marques. Spécialiste de la pièce auto, SCS Auto 19 vous propose également 120 000 accessoires et fournitures neufs et d'origine, sous garantie !